---
import logoStar from '../assets/logo-star.svg'
---

<footer class="border-t-3 border-black py-6">

  <div class="max-w-xl mx-auto flex flex-col md:flex-row items-center justify-between gap-6 px-6">

    <!-- NOMBRE -->
    <div class="flex items-center gap-2 font-bold text-lg">
      <img src={logoStar.src} alt="logo" width="22" />
      Thomy
    </div>

    <!-- ICONOS -->
    <div class="flex items-center gap-6 text-2xl">

      <!-- EMAIL -->
      <a 
        href="mailto:tduartec06@gmail.com" 
        target="_blank"
        class="hover:text-[var(--yellow)] transition"
      >
        <i class="ri-mail-line"></i>
      </a>

      <!-- INSTAGRAM -->
      <a 
        href="https://www.instagram.com/thomy.19_?igsh=MWpzOHN4c3hweXh4Yw==" 
        target="_blank"
        class="hover:text-[var(--yellow)] transition"
      >
        <i class="ri-instagram-line"></i>
      </a>

      <!-- GITHUB -->
      <a 
        href="https://github.com/tedc10" 
        target="_blank"
        class="hover:text-[var(--yellow)] transition"
      >
        <i class="ri-github-line"></i>
      </a>

    </div>

  </div>

  <!-- COPYRIGHT -->
  <div class="text-center text-sm mt-4">
    © {new Date().getFullYear()} Thomy. All rights reserved.
  </div>

</footer>
