---
import svgPinkStar from '../assets/pink-star.svg'
import redStar from '../assets/red-star.svg'
import blueStar from '../assets/blue-star-card.svg'
import hl from '../assets/hl.svg'
---

<section class="relative max-w-6xl mx-auto px-6 py-20 flex flex-col md:flex-row items-center justify-between gap-16">

  <!-- TEXTO -->
  <div class="flex-1">

    <img src={svgPinkStar.src} alt="star" width="70" class="mb-8" />

    <!-- TITULO MÁS GRANDE -->
    <h1 class="text-5xl md:text-7xl font-bold leading-tight">
      Algunas <br />
      <span class="bg-[var(--yellow)] px-4 py-1 inline-block">
        curiosidades
      </span>
    </h1>

    <!-- PÁRRAFO MÁS GRANDE -->
    <p class="mt-8 text-xl md:text-2xl max-w-lg">
      Si quieres saber como pienso, mira lo que creo y amo, no te tomara mucho tiempo.
    </p>

    <!-- BOTÓN + HL -->
  <div class="mt-10 relative flex items-center">

  <a
    href="/presentacion"
    class="inline-block bg-blue-200 border-4 border-black px-10 py-4 rounded-full text-xl md:text-2xl font-semibold shadow-[5px_5px_0px_black] hover:translate-x-1 hover:translate-y-1 hover:shadow-none transition-all duration-200"
  >
    vamos
  </a>

  <!-- HL POSICIONADO MANUALMENTE -->
  <img
    src={hl.src}
    alt="decor"
    class="absolute left-36 top-12 w-12 md:w-14"
  />

  </div>


  </div>

  <!-- IMAGEN -->
  <div class="flex-1 flex justify-center">

    <div class="relative">

      <!-- MARCO -->
      <div class="border-4 border-black p-4 bg-white shadow-[8px_8px_0px_black] relative">

        <img
          src="/Foto.jpeg"
          alt="Thomy"
          class="w-[380px] md:w-[430px] h-auto object-cover"
        />

      </div>

      <!-- DECORACIONES PEGADAS -->

      <img
        src={blueStar.src}
        alt="decor"
        class="absolute -top-3 -left-3 w-14 md:w-16"
      />

      <img
        src={redStar.src}
        alt="decor"
        class="absolute -bottom-3 -right-3 w-14 md:w-16"
      />

    </div>

  </div>

</section>
